:root{
    --primary-color: black;
    --secondary-color: #e00101;
}

@font-face {
    font-family: "Nostrud";
    src: url("../../../public/assets/font/NOSTRUD\ -\ Personal\ Use.ttf");
}

@keyframes margin-color {
    0% {box-shadow: 0.2rem 0.2rem var(--secondary-color);}
    50% {box-shadow: -0.2rem -0.2rem var(--secondary-color);}
    100% {box-shadow: 0.2rem 0.2rem var(--secondary-color);}
}

html{
    margin: 0; 
    padding: 0; 
    display: grid;
    font-size: 62.5%;
}

.container {
    max-width: 120rem;
    margin: auto;
}

.force-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    background-image: url("../../../public/assets/images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: -0.8rem;
    margin-right: -0.8rem;
    margin-left: -0.8rem;
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 46rem;
}

.nav-content{
    min-width: 100%;
    min-height: 100%;
}

.logo{
    padding: 3rem;
}

.logo img{
    width: 7rem;
    height: auto;
    position: absolute;
    z-index: 1;
}

.logo-tittle{
    width: 12rem;
    padding-top: 0.3rem;
    padding-left: 7.5rem;
}

.logo h1{
    position: relative;
    font-family: "Nostrud";
    font-size: 2.4rem;
    z-index: 2;
    line-height: 1rem;
    color: black;
    text-shadow: -0.1rem -0.1rem 0.3rem var(--secondary-color);
}

.body{
    margin-top: -8; 
    margin-right: -0.8rem; 
    margin-left: -0.8rem; 
    position: relative;
    top: 44rem;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 10rem 10rem 10rem 10rem var(--primary-color);
}

.content {
    background-image: url("../../../public/assets/images/body-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid; 
    font-family: Arial;
    padding: 3rem auto 3rem auto;
}

.transparent-area {
    height: 8rem;
    background-color: rgba(0, 0, 0, 0);
}

.presents{
    height: 1rem;
}

.grid{
    margin: 5rem auto 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardm{
    margin: auto;
    width: 40vw;
    height: 30vw;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: 2rem;
    animation: margin-color 6s linear 0.1s infinite;
    overflow: hidden;
    position: relative;
    margin: 2rem;

}

.cardm img:hover{
    filter: grayscale(100%);
}

.cardm img:hover~h2{
    display: block;
}

.cardm a{
    display: flex;
    overflow: hidden;
    align-items: flex-end;
}

.cardm img{
    width: 133%;
    position: relative;
}

.cardm h2{ 
    margin: auto; 
    color: var(--secondary-color);
    text-shadow: 0.3rem 0.3rem 0.4rem var(--primary-color);
    font-family: "Nostrud"; 
    letter-spacing: 0.2rem;
    padding: 1rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2.8vw;
    z-index: 1;
    display: none;
}

.grid-colection{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.block{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card{
    transition: all 0.8s;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: auto;
}
.card:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5)), grayscale(0%);
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5)) grayscale(0%);
}

.go-home {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.go-home img{
    margin: 2rem auto 2rem auto;
    width: 7rem;
    height: auto;
}

footer{
    background-image: url("../../../public/assets/images/body-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-right: -0.8rem; 
    margin-left: -0.8rem; 
    color: black;
    text-shadow: -0.4rem -0.4rem 0.6rem rgba(71, 2, 2, 0.8);
    font-size: 2.5rem; 
    font-family: Arial;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 8rem;
    bottom: 0;
}

footer p{
    margin: auto;
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    margin-top: 2.5rem;
    background: -webkit-linear-gradient(90deg, rgb(5, 1, 1) 0%, rgb(22, 10, 7) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Nostrud";
    letter-spacing: 0.4rem;
}

.footer-content{
    background: linear-gradient(90deg, rgba(255, 8, 8, 0.3) 0%, rgba(214, 4, 4, 0.3) 100%);
    min-width: 100%;
    min-height: 100%;
    display: grid;
}

@media (max-width: 600px){
    .nav-content {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: linear-gradient(90deg, rgba(20, 3, 2, 0.5) 0%, rgba(49, 10, 1, 0.5) 100%);
    }
    .logo {
        margin: 0;
        padding: 0;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .cardm{
        width: 75vw;
        height: 60vw;
    }
    .block{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 500px){
    .block{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 400px){
    .block{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 300px){
    footer p{
        margin-top: 0.5rem;
    }
}